<div id="header-menu-bar" class="flex justify-between px-5">
    <div class="flex items-start gap-3">
        <img width="24px" src="assets/icons/menu.svg" alt="Ícone de menu">
        <div class="flex flex-col text-sm gap-1">
            <span class="text-gray-300">Bem-vindo de volta</span>
            <span>{{user.firstName}} {{user.lastName}}</span>
        </div>
    </div>
    <div class="flex gap-3">
        <img width="28px" src="assets/icons/glass.svg" alt="Ícone de lupa">
        <img width="28px" src="assets/icons/bell.svg" alt="Ícone de notificações">
    </div>
</div>
