.bg-img-login {
    background-image: url('../../../assets/images/Fundo.png');
}

.over-canvas {
    position: absolute;
    z-index: 50;
}

.fullscreen-content {
    height: 100vh;
    width: 100%;
}

.line {
    border-top: solid 1px #B5B5B5;
    width: 30%;
}

.text-gray {
    color: #B5B5B5;
}

.rounded-t-perso {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}