<div class="background-dashboard text-white roboto-regular">
    <div id="header" class="ps-9 pe-9 pt-14">
        <app-header-menu-bar></app-header-menu-bar>
        <div id="header-data-bar" class="flex justify-between mt-8 px-2">
            <div id="balance" class="flex flex-col gap-2">
                <span class="text-xs text-gray-300">Saldo Atual</span>
                <span class="text-4xl">$10.000,49</span>
                <span class="text-xs">+200,79(2%)</span>
            </div>
            <div id="chart" class="flex flex-col items-center">
                <span class="text-gray-300">Últimos 30 dias</span>
                <img src="assets/icons/chart-example.svg" alt="Exemplo de gráfico">
            </div>
        </div>
        <app-header-button-bar></app-header-button-bar>
    </div>
    <div class="main">
        <div id="cards"></div>
        <div id="latest-releases"></div>
    </div>
</div>