.background-dashboard {
    background-image: url('../../../assets/images/fundodashboard.png');
    background-attachment: fixed;
    width: 100%;
}

.bg-main {
    background-color: #061114;
    height: 100%;
}

.bg-add-card {
    background-color: #0E191D;
}

.circle-card {
    width: 62px;
    height: 62px;
}

.bg-releases {
    background-color: #101B1F;
}

.rounded-t-20 {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.entry-icon {
    width: 45px;
    height: 45px;
}