<div class="background-dashboard text-white roboto-regular">
    <div id="header" class="ps-9 pe-9 pt-14">
        <div id="header-menu-bar" class="flex justify-between px-5">
            <div class="flex items-start gap-3">
                <img width="24px" src="assets/icons/menu.svg" alt="Ícone de menu">
                <div class="flex flex-col text-sm gap-1">
                    <span class="text-gray-300">Bem-vindo de volta</span>
                    <span>Fulano de Tal</span>
                </div>
            </div>
            <div class="flex gap-3">
                <img width="28px" src="assets/icons/glass.svg" alt="Ícone de lupa">
                <img width="28px" src="assets/icons/bell.svg" alt="Ícone de notificações">
            </div>
        </div>
        <div id="header-data-bar" class="flex justify-between mt-8 px-2">
            <div id="balance" class="flex flex-col gap-2">
                <span class="text-xs text-gray-300">Saldo Atual</span>
                <span class="text-4xl">$10.000,49</span>
                <span class="text-xs">+200,79(2%)</span>
            </div>
            <div id="chart" class="flex flex-col items-center">
                <span class="text-gray-300">Últimos 30 dias</span>
                <img src="assets/icons/chart-example.svg" alt="Exemplo de gráfico">
            </div>
        </div>
        <div id="buttons" class="flex justify-between mt-8">
            <button class="py-5 px-8 bg-gray-100 bg-opacity-25 rounded-2xl text-sm flex gap-1 items-center">
                Nova receita <img src="assets/icons/arrowup.svg" alt="Seta para cima">
            </button>
            <button class="py-5 px-8 bg-gray-100 bg-opacity-25 rounded-2xl text-sm flex gap-1 items-center">
                Nova despesa <img src="assets/icons/arrowdown.svg" alt="Seta para baixo">
            </button>
        </div>
    </div>
    <div class="main">
        <div id="cards"></div>
        <div id="latest-releases"></div>
    </div>
</div>